.ball1 {
width: 200 px;
height: 200 px;
background-color: red;
  border-radius: 50%;
position: relative;
animation: bounce 2s infinite;
}

.ball2 {
width: 400 px;
height: 400 px;
background-color: blue;
  border-radius: 40%;
position: relative;
animation: bounce 4s infinite;
}

.ball3 {
width: 300 px;
height: 300 px;
background-color: green;
  border-radius: 40%;
position: relative;
animation: bounce 1s infinite;
}
@keyframes bounce {
  0%, 100% { transform: translateY (0); }
50% { transform: translateY(-100px); }
｝
