.ball1 {
width: 50 px;
height: 50 px;
background-color: red;
border-radius: 50%;
position: relative;
animation: bounce 2s infinite;
}

.ball2 {
width: 40 px;
height: 40 px;
background-color: blue;
border-radius: 40%;
position: relative;
animation: bounce 4s infinite;
}

.ball3 {
width: 40 px;
height: 40 px;
background-color: blue;
border-radius: 40%;
position: relative;
animation: bounce 4s infinite;
}
@keyframes bounce {
  0%, 100% { transform: translateY (0); }
50% { transform: translateY(-100px); }
｝
